.face {
    height: 400px;
    width: 400px;
    background-color: rgb(219, 222, 19);
    border-radius: 50%;
}
.mouth{
    width: 200px;
    height: 75px;
    background-color: brown;
    border-radius: 0 0 80px 80px;
    position: relative;
    top: 250px;
    left: 100px;
}
.left-eye,.right-eye {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(49, 40, 40);
    display: inline-block;
    position:absolute;
    left: 100px;
    right: 100px;
}
.right-eye {
    left: 250px;
 

}